*{margin: 0; padding: 0;}
button{
  top: 90vh;
  position: absolute;
  width: 50px;
  height: 30px;
}
body{
  overflow: hidden;
}
#box{
  width: 60px; height: 60px; position: absolute; text-align: center;
  top: 1000px; left: 0; border-radius: 100px; line-height: 55px;
}
#intext{
  width: 200px; height: 80px; text-align: center; font-size: 50px; margin-left: 35vw;
}

h1{
  float: left;
}

#all{
  float: right;
}

#now{
  float: left;
}